
@import '../../sass/variables';

.pagination {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.pagination-arrow {
  $color1: nth($primary-gradient, 1);
  $color2: nth($primary-gradient, 2);
  background-image: linear-gradient(125deg, $color1, $color2, $color2, $color2);
  background-size: 300% 100%;
  transition: 0.3s ease-in-out;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  font-weight: 700;
  font-size: 18px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    width: 24px;
    font-size: 20px;
    height: 24px;
  }
}