@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap');

// #### General
* { box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  width: 196px;
}

p {
  font-weight: 600;
  color: #5d727b;
  font-size: 13px;
}


// #### Buttons
.btn {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #92a2ab;
  letter-spacing: 0.5px;
  white-space: nowrap;
  padding: 10px 14px;
  border-top: 1px solid #e2e2e2;
}

.btn-primary { color: #54cce0; }

.btn:not(.save-btn):hover {
  cursor: pointer;
  background: rgba(172, 242, 253, 0.2);
}


// #### Helper Classes
.text-center { text-align: center; }

.hide { display: none !important; }


// #### Calendar Day
.day {
  display: flex;
  background-image: linear-gradient(90deg, rgb(212, 253, 234),rgb(215, 251, 255));
  padding: 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: rgb(93, 114, 123);

  .day-number { font-size: 20px; }

  .day-of-week {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: rgb(93, 183, 141);
  }

  .day-tag { cursor: default; }
}


// #### Tags
.day-tags {
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid #88e5f5;
  margin-left: 10px;
  padding: 6px 6px 0 6px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 0 5px 5px 0;
  width: 100%;
}

.day-tag {
  font-size: 15px;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  margin-bottom: 6px;
  text-align: center;
}


// #### Emoji Icon
emoji-icon {
  margin-top: 5px;
  display: inline-block;
}


// #### Add Tag Widget
.add-tag-wrapper {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;

  & > * { padding: 0 10px; }

  &.open {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  &.logged-in .login-msg,
  &:not(.logged-in) .has-tags { display: none; }

  &:not(.logged-in) .login-msg { display: block; }
}


// #### All Tags Section
.all-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .day-tag { 
    position: relative;
  
    &:hover {
      cursor: pointer;
    }

    &:hover::after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background: #64c598;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  input:checked + label .day-tag:before {
    content: '';
    width: 4px;
    height: 8px;
    position: absolute;
    top: 0;
    right: -1px;
    border-bottom: 3px solid #64c598;
    border-right: 3px solid #64c598;
    transform: rotate(45deg);
  }
}


// #### Colors
.violet { background-color: #f6e6ff; }
.indigo { background-color: #dfedff; }
.skyblue { background-color: #d1faff; } 
.aquamarine { background-color: #d0fde6; } 
.lime { background-color: #e8fbd0; }
.orange { background-color: #ffefd2; }
.red { background-color: #ffdbdb; }
.rose { background-color: #ffdeea; }
.pink { background-color: #ffe3ff; }
.purple { background-color: #e7e6ff; }
.blue { background-color: #d5f1ff; } 
.teal { background-color: #cefdf7; }
.green { background-color: #dcffdc; }
.yellow { background-color: #fffcd4; }
.redorange { background-color: #ffe5d6; }
.gray { background-color: #edf1f3; }


// #### Add Button
.add-btn {
  border: 1px dashed #62d1e4;
  line-height: 21px;
  width: 26px;
  height: 26px;
  background-color: rgba(92, 231, 255, 0.1);
  color: #62d1e4;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 6px;

  &:hover {
    cursor: pointer;
    background-color: rgba(92, 231, 255, 0.3);
  }  
}


// #### Save Button
.save-btn {
  border-top: none;
  padding: 6px 10px;
  background: #84e4f5;
  color: #fff;
  width: fit-content;
  margin: 8px auto;
  border-radius: 10px;
  background-image: linear-gradient(to right, #97edff, #7fc2fb, #7fc2fb);
  background-size: 300% 100%;
  transition: all .3s ease-in-out;

  &:hover {
    background-position: 100% 0;
    cursor: pointer;
  }
}


// #### Error Messages
.no-tags-msg p:nth-child(2) { opacity: 0.7; }

.login-msg p {
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  padding: 5px;
  color: #f96363;
  border-radius: 5px;
}


// #### Sign-in Button
.google-signin {
  display: flex;
  justify-content: center;
}

.google-icon { margin-right: 7px; }


// #### Loading Dots
.loading-dots {
  text-align: center;
  margin-bottom: 20px;

  & > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(148, 232, 193);
    animation: 1.5s bounce infinite ease-in-out both;
  }

  .bounce { animation-delay: -0.3s; }
  .bounce2 { animation-delay: -0.15s; }
}

@keyframes bounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}


// #### Fix for emoji horizontal alignment issues for retina screens
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .day-tag { text-align: right; }
}