@import '../../sass/variables';

.tags-list {
  position: relative;
  display: flex;
  overflow: scroll;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    max-height: 55vh;
  }
}