@import '../../sass/variables';

.tags-list {
  position: relative;
  display: flex;
  overflow: auto;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    max-height: calc(55vh - 40px);
  }
}