@import '../../sass/variables';

.bar-graph {
  padding: 10px 30px 15px 30px;

  .graph-inner {
    display: flex;
    height: 170px;
    width: 250px;
    position: relative;
  }

  .bar-wrapper {
    height: calc(100% - 40px);
    position: relative;
    min-width: 25px;
    margin-left: 20px;
    margin-top: 20px;
    background: rgb(236, 249, 255);
    background-image: linear-gradient(#cfefff, #d2faff);
    border-radius: 4px;

    &:hover {
      background-image: linear-gradient(#bbe9ff, #d2faff);

      .bar {
        background-image: linear-gradient($gradient-blue-2, $gradient-blue-1);
      }
      
      .bar-value, .label {
        font-weight: 600;
        font-size: 14px;
      }
    }

    .label {
      position: absolute;
      bottom: -20px;
      font-weight: 500;
    }
  }

  .bars {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }

  .bar {
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 0;
    transition: min-height 0.8s;
    background-image: linear-gradient(#a2e0ff, #b1f2fb);

    .bar-value {
      display: block;
      position: absolute;
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.x-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 20px;
  border-left: 1px solid #dff1f5;

  .x-axis-lines {
    border-bottom: 1px solid #dff1f5;
    position: relative;
  }

  .x-axis-label {
    position: absolute;
    left: -20px;
    top: -50%;
    transform: translateY(-50%);
  }
}
