@import '../../sass/variables';

// Button
.btn {
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  padding: 8px 14px;
  background-image: linear-gradient(to right, $gradient-blue-1, $gradient-blue-2, $gradient-blue-2, $gradient-blue-2);
  background-size: 300% 100%;
  color: #fff;
  display: inline-block;
  transition: background .3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-position: 100% 0;
  }

  &:focus { outline: none; }
  &:focus-visible {
    background-position: 100% 0;
    outline: 2px dashed $focus-blue;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 16px;
  }
}


// Dashed Button
.btn-dashed {
  width: fit-content;
  color: #62d1e4;
  border: 1px dashed #62d1e4;
  background: rgba(92,231,255,0.1);

  &:hover {
    background-color: rgba(92,231,255,0.2);
  }

  &:focus-visible {
    background-color: rgba(92,231,255,0.2);
    outline: 2px dashed $focus-blue;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    padding: 12px;
  }
}


// Smaller Button
.btn-smaller {
  padding: 6px 12px;

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 15px;
  }
}