@import '../../sass/variables';

.select {
  position: relative;
  width: 150px;
  font-size: 14px;

  .option-current {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8px 12px;
    border-radius: 5px;
    // box-shadow: 0px 8px 30px rgba(24, 41, 139, 0.2);
    padding: 6px 8px;

    &:hover {
      border-color: #62d1e4;
      cursor: pointer;
    }
  }

  .options-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    max-height: 200px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    // box-shadow: 0px 8px 30px rgba(24, 41, 139, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    z-index: $zindex-select;
    background: #fff;

    &:hover {
      border-color: #62d1e4;
    }
  }

  .option {
    padding: 6px 12px;

    &:hover {
      cursor: pointer;
      background: rgba(92,231,255,0.1);
    }
  }
}