@import '../../../sass/variables';

.tag {
  cursor: move; // fallback
  cursor: grab;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  padding: 10px;
  margin: 5px 5px 0 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(14,30,37,0.6);
  white-space: nowrap;
  background-size: 300% 100%;
  transition: all .2s ease-in-out;

  // Generate gradient classes using color map
  @include gradient-classes;

  & > span:first-child { 
    margin-right: 6px;
    min-width: 19px;
  }

  & > span:last-child { 
    overflow: hidden;
    line-height: 18px;
  }

  &:hover {
    background-position: 100% 0;
    transition: all .2s ease-in-out;
  }

  @media screen and (min-width: $bp-desktop) {
    margin: 0 0 5px 0;
    max-width: 200px;
    overflow-x: auto;

    & > span:last-child { 
      white-space: break-spaces;
    }
  }

  @media screen and (min-width: $bp-desktop-md) {
    font-size: 15px;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 16px;
    padding: 11px 12px;
    margin: 0 0 7px 0;
    max-width: 250px;
  }
}

.macos .tag {
  line-height: 16px;

  @media screen and (min-width: $bp-desktop-lg) {
    & > span:first-child {
      min-width: 22px;
      display: inline-block;
    }
  }
}