@import '../../../sass/variables';

// Day
.day { 
  flex-basis: calc(100%/7); 
  max-width: calc(100%/7); 
  box-shadow: -1px -1px rgb(178, 232, 205), inset -1px -1px 0 0 rgb(178, 232, 205);
  width: 106px;
  text-align: right;
  font-size: 14px; 
  font-weight: 600;
  position: relative;
  color: rgb(93, 114, 123);
  background: white;
  height: 10vh;
  min-height: 80px;
  padding: 6px 5px;
  overflow: auto;

  @media screen and (min-width: $bp-desktop) {
    height: 13vh;
  }

  @media screen and (min-width: $bp-desktop-md) {
    font-size: 15px;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 16px;
  }
}


// Day Number
.day-number {
  position: absolute;
  right: 8px;
  pointer-events: none;

  &.today {
    right: 5px;
    top: 5px;
    text-align: center;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #bff2ff;
    border: 1px solid #80e5ff;
  }
}


// Day Tag
.day-tags {
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;

  .day-tag {
    font-size: 15px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;

    @media #{$retina} { 
      text-align: right;
    }

    @media screen and (min-width: $bp-desktop-lg) {
      font-size: 16px;
      width: 27px;
      height: 27px;
    }
  }
}


// Current day
.current-day {
  .bar {
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #80e9fb;
  }
  .day-number {
    color: #67cbdc;
  }
}

.not-current {
  background: transparent;
  color: rgb(131, 208, 172);
}

.dragged {
  opacity: 0.5;
}

.chosen-day {
  background: #ddf7ff;
}