@import '../../sass/variables';

// Calendar
.calendar { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  background-image: linear-gradient(90deg, rgb(212, 253, 234),rgb(215, 251, 255));
  position: relative;
  $first: adjust-color($gradient-green-1, $lightness: 10%, $saturation: 15%);
  $second: adjust-color($gradient-green-2, $lightness: 10%, $saturation: 15%);
  background-image: linear-gradient(90deg, $first, $second);
}


// Calendar Header
.cal-header { 
  flex-basis: calc(100%/7); 
  max-width: calc(100%/7); 
  box-shadow: -1px -1px rgb(178, 232, 205), inset -1px -1px 0 0 rgb(178, 232, 205);
  width: 106px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(76, 193, 138);
  padding: 7px;

  @media screen and (min-width: $bp-desktop-md) {
    font-size: 13px;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 14px;
  }
}


// Day Modal
.edit-day-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zindex-day-modal;
  min-width: 250px;

  @media screen and (min-width: $bp-desktop-md) {
    min-width: 280px;
  }

  .edit-day {
    font-size: 18px;
    margin-top: 0;
    font-weight: 600;
    text-align: right;
    margin-bottom: 0;
  }  

  .delete-icon {
    margin-top: 5px;
  }
}