
@import '../../../sass/variables';

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 200px;

  @media screen and (min-width: $bp-desktop-lg) {
    max-width: 220px;
  }

  [type="radio"] {
    position: absolute;
    opacity: 0;

    &:checked + label .color-picker-item {
      border-color: $gradient-blue-2;
    }

    &:focus + label .color-picker-item {
      border-color: $focus-blue;
    }
  }
}

.color-picker-item {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;

  &:hover {
    cursor: pointer;
    border-color: $gradient-blue-2;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    width: 27px;
    height: 27px;
  }
}