
@import '../../sass/variables';

// Checkbox Wrapper
.checkbox-wrapper {
  margin-bottom: 8px;

  label {
    display: flex;
    align-items: center;
    color: rgb(93, 114, 123);
    text-transform: none;

    
    &:hover .tag {
      background-position: 100% 0;
      transition: all .2s ease-in-out;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  .tag {
    text-transform: none;
    margin-bottom: 0;
    cursor: pointer;
    padding: 8px;
    background-size: 300% 100%;
    transition: all .2s ease-in-out;

    // Generate gradient classes using color map
    @each $name, $colors in $color-map {
      $first: nth($colors, 1);
      $second: nth($colors, 2);

      &.#{$name} {
        background-image: linear-gradient(to right, $first, $first, $first, $second);
      }
    }

    @media screen and (min-width: $bp-desktop-lg) {
      padding: 10px;
    }
  }
}


// Custom Checkbox
.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid grey;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ced1d4;
  margin-right: 10px;
  cursor: pointer;

  &:before {
    display: block;
    content: '';
    height: 9px;
    transform: rotate(40deg);
    width: 4px;
    left: 5px;
    top: 1px;
    position: absolute;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
  }

  &:hover {
    background-color: rgba(92,231,255,0.1);
  }
}

input[type="checkbox"]:checked + label .custom-checkbox:before {
  border: solid #53cafb;
  border-width: 0 2.5px 2.5px 0;
}

.day-checkboxes {
  max-height: 250px;
  overflow-y: auto;
}


// Select All
.select-all {
  border-bottom: 1px solid #e6eaee;
  padding-bottom: 5px;
  margin-bottom: 15px;

  label {
    cursor: pointer;
  }
}