
@import '../../sass/variables';

// Checkbox Wrapper
.checkbox-wrapper {
  position: relative;
  margin-bottom: 8px;

  label {
    display: flex;
    align-items: center;
    color: #5d727b;
    text-transform: none;
    
    &:hover .tag {
      background-position: 100% 0;
      transition: all .2s ease-in-out;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:focus + label .custom-checkbox { 
      border: 2px solid $focus-blue;
      width: 20px;
      height: 20px;
    }
  }

  .tag {
    text-transform: none;
    margin-bottom: 0;
    cursor: pointer;
    padding: 8px;
    background-size: 300% 100%;
    transition: all .2s ease-in-out;

    // Generate gradient classes using color map
    @include gradient-classes;

    @media screen and (min-width: $bp-desktop-lg) {
      padding: 10px;
    }
  }
}


// Custom Checkbox
.custom-checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 10px;
  border: 1px solid #ced1d4;
  border-radius: 5px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    transform: rotate(40deg);
    width: 4px;
    height: 9px;
    position: absolute;
    top: 1px;
    left: 5px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
  }

  &:hover {
    background-color: rgba(92,231,255,0.1);
  }
}

input[type="checkbox"]:checked + label .custom-checkbox:before {
  border: solid #53cafb;
  border-width: 0 2.5px 2.5px 0;
}

.day-checkboxes {
  max-height: 250px;
  overflow-y: auto;
}


// Select All
.select-all {
  border-bottom: 1px solid #e6eaee;
  padding-bottom: 5px;
  margin-bottom: 15px;

  label {
    cursor: pointer;
  }
}