/* @import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap');
/* ==== GENERAL ====*/
* { 
  box-sizing: border-box; 
}
body {
  /* font-family: 'Muli', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  background: rgb(244,245,254);
  background: rgb(247, 250, 255);
}
.section {
  padding: 0 40px;
}
input {
  outline: none;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
}
input::placeholder {
  color: #b7bdc3;
}

/* ==== TYPOGRAPHY ==== */
h1 {
  font-size: 20px;
}

/* ==== HELPER CLASSES ==== */
.hide {
  display: none;
}

/* ==== HEADER ==== */
header {
  padding: 25px;
}
.logo {
  font-size: 20px;
  color: #9495ea;
  color: rgba(14,30,37,0.6);
  font-weight: 600;
}

/* ==== CALENDAR ==== */
.calendar-wrapper {
  /* padding: 20px; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.calendar { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}
.day, .cal-header { 
  flex-basis: calc(100%/7); 
  max-width: calc(100%/7); 
  background: white; 
  box-shadow: -1px -1px #ececec, inset -1px -1px 0 0 #ececec;
  padding: 5px;
}
.cal-header {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #6a7175;
  color: #00b4ff;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 600;
  color: #9495ea;
}
.day {
  text-align: right;
  height: 100px;
  padding: 10px 15px;
  font-size: 14px; 
  color: rgba(14,30,37,0.7);
  font-weight: 600;
  position: relative;
}
.day-number {
  position: absolute;
  right: 10px;
}
.not-current {
  background: #fafcfd;
  color: #c1c1c1;
}
.today .day-number {
  right: 5px;
  top: 5px;
  text-align: center;
  border-radius: 50px;
  background: #bff8ff;
  width: 28px;
  height: 28px;
  line-height: 28px;
}

/* ==== CALENDAR HEADER ==== */
.curr-month {
  text-align: center;
  color: rgba(14,30,37,0.6);
  margin: 0;
}
.curr-year {
  text-align: center;
  letter-spacing: 1px;
  color: #898a8a;
  font-size: 14px;
  margin-top: 5px;
}

/* ==== CARDS ==== */
.card {
  box-shadow: 0 0 11px 0 #eaf0f6;
  border-radius: 25px;
  background: #fff;
  padding: 30px;
}

/* ==== TAGS ==== */
.tag {
  border-radius: 25px;
  padding: 5px 8px;
  cursor: move; /* fallback */
  cursor: grab;
  position: relative;
}
.tag-modal {
  position: absolute;
  z-index: 20;
}
.tag-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.tag-emoji {
  position: absolute;
  fill: rgba(14,30,37,0.6);
  width: 20px;
  right: 5px;
}
.tag-emoji-picker {
  position: absolute;
}
.green {
  background-color: #E3FBE9;
}

/* ==== EMOJI PICKER ==== */

@media only screen and (min-width: 768px) {
  /* ==== LAYOUT ==== */
  .flex_t { display: flex; }
  .main-wrapper {
    align-items: flex-start;
  }

  /* ==== CALENDAR ==== */
  .calendar-wrapper {
    max-width: 60vw;
  }

  /* ==== TAGS ==== */
  .tags {
    margin-right: 25px;
    flex-grow: 0;
  }
}