/* @import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
/* ==== GENERAL ====*/
* { 
  box-sizing: border-box; 
}
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  min-height: 100vh;
}
input {
  outline: none;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #e6eaee;
  box-shadow: none;
  color: #2c355a;
}
input::placeholder {
  color: #b7bdc3;
}
label {
  color: #56618f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2px;
  display: block;
}
p {
  color:rgb(93, 114, 123);
  font-weight: 500;
}

/* ==== TYPOGRAPHY ==== */
h1 {
  font-size: 25px;
  font-weight: 700;
}
h2 {
  font-size: 22px;
  font-weight: 700;
  color: #66d1fd;
}

/* ==== LAYOUT ==== */
.section {
  padding: 0 40px;
  position: relative;
}

/* ==== BUTTONS ==== */
.btn {
  border-radius: 10px;
  font-weight: 500;
  width: 100px;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  background: #66d1fd;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
}

/* ==== HELPER CLASSES ==== */
.hide {
  display: none;
}
.prevent-click {
  pointer-events: none;
}

/* ==== HEADER ==== */
header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 15px 25px;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  color: rgba(14,30,37,0.6);
}

/* ==== BACKGROUND ==== */
.background-svg {
  position: absolute;
  bottom: 0;
}

/* ==== CALENDAR ==== */
.calendar-wrapper {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  padding: 45px 40px 40px 40px;
}
.calendar { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  background-image: linear-gradient(90deg, rgb(212, 253, 234),rgb(215, 251, 255));
}
.day, .cal-header { 
  flex-basis: calc(100%/7); 
  max-width: calc(100%/7); 
  padding: 5px;
  box-shadow: -1px -1px rgb(116, 218, 170), inset -1px -1px 0 0 rgb(116, 218, 170);
}
.cal-header {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(76, 193, 138);
}
.day {
  text-align: right;
  height: 100px;
  padding: 10px;
  font-size: 14px; 
  font-weight: 600;
  position: relative;
  color: rgb(93, 114, 123);
  background: white;
}
.day-number {
  position: absolute;
  right: 10px;
}
.day-tag {
  font-size: 15px;
  border-radius: 50px;
  width: 25px;
}
.not-current {
  background: transparent;
  color: rgb(131, 208, 172);
}
.today .day-number {
  right: 5px;
  top: 5px;
  text-align: center;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background: #bff2ff;
  border: 1px solid #80e5ff;
}
.curr-date {
  margin-top: 0;
  color: #66d1fd;
}
.curr-year {
  color: #a4e3fd;
}

/* ==== CARDS ==== */
.card {
  box-shadow: 0 0 11px 0 #eaf0f6;
  border-radius: 15px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 20px rgba(51,79,136,.12);
  box-shadow: 0px 8px 30px rgba(24, 41, 139, 0.12);
}

/* ==== TAGS ==== */
.tags {
  margin-top: 30px;
}
.tag {
  cursor: move; /* fallback */
  cursor: grab;
  position: relative;
  color: rgba(14,30,37,0.6);
  padding: 10px 10px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 10px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 5px;
}
.tag-modal {
  position: absolute;
  z-index: 20;
}
.btn-add-tag {
  width: fit-content;
  margin-top: 10px;
  color: #53cafb;
  border: 1px dashed #53cafb;
}
.tag-field-wrapper {
  margin-bottom: 15px;
  position: relative;
}
.tag-field-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #e6eaee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
}
emoji-picker {
  position: absolute;
  z-index: 40;
  pointer-events: auto !important;
}

.red { background-color: #ffc9c9; }
.orange { background-color: #ffecbf; }
.yellow { background-color: #fffcd4; }
.green { background-color: #e3fbe9; }
.lightblue { background-color: #d1f6fb; }
.blue { background-color: #daecff; }
.purple { background-color: #ece5ff; }
.pink { background-color: #ffe3ff; }

.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.color-picker-item {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
}
.color-picker-item:hover {
  cursor: pointer;
  border-color: #66d1fd;
}
.color-picker [type="radio"] {
  display: none;
}
.color-picker [type="radio"]:checked + label .color-picker-item {
  border-color: #66d1fd;
}

@media only screen and (min-width: 768px) {
  /* ==== LAYOUT ==== */
  .flex_t { display: flex; }
  .main-wrapper {
    align-items: flex-start;
  }

  /* ==== CALENDAR ==== */
  .calendar-wrapper {
    max-width: 60vw;
  }

  /* ==== TAGS ==== */
  .tags {
    margin-right: 25px;
    flex-grow: 0;
  }
}