@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap);
@import '../../sass/variables';

// #### General
* { 
  box-sizing: border-box; 
}

body {
  font-family: $font-stack;
  margin: 0;
  min-height: 100vh;
  /* background-image: linear-gradient(125deg, rgb(172, 239, 208),rgb(182, 240, 247)); */
  background-image: linear-gradient(125deg, $gradient-green-1, $gradient-green-2);
  color:rgb(93, 114, 123);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  font-size: 14px;
  font-family: $font-stack;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #e6eaee;
  box-shadow: none;
  color: #2c355a;

  &::placeholder {
    color: #b7bdc3;
  }

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 16px;
  }
}

label {
  color: #56618f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2px;
  display: block;

  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 15px;
    margin-bottom: 3px;
  }
}

p {
  font-weight: 500;
  font-size: 14px;

  @media screen and (min-width: $bp-desktop-md) {
    font-size: 15px;
  }
  @media screen and (min-width: $bp-desktop-lg) {
    font-size: 16px;
  }
}


// #### Typography
h1 {
  font-size: 25px;
  font-weight: 700;
}
h2 {
  font-size: 22px;
  font-weight: 700;
}

@media screen and (min-width: $bp-desktop-lg) {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 24px;
  }
}


// #### Colors
.violet { background-color: $violet; }
.indigo { background-color: $indigo; }
.skyblue { background-color: $skyblue; } 
.aquamarine { background-color: $aquamarine; } 
.lime { background-color: $lime; }
.orange { background-color: $orange; }
.red { background-color: $red; }
.rose { background-color: $rose; }
.pink { background-color: $pink; }
.purple { background-color: $purple; }
.blue { background-color: $blue; } 
.teal { background-color: $teal; }
.green { background-color: $green; }
.yellow { background-color: $yellow }
.redorange { background-color: $redorange; }
.gray { background-color: $gray; }


// #### Layout
.section {
  padding: 0 40px;
  position: relative;
}

.main-wrapper {
  max-width: 90vw;
  margin: 30px auto;
  position: relative;
  &.card { padding-bottom: 80px; }

  @media screen and (min-width: $bp-desktop) {
    align-items: flex-start;
    position: relative;
    &.card { padding-bottom: 30px; }
  }

  @media screen and (min-width: $bp-desktop-sm) {
    max-width: 80vw;
  }
}

.flex { display: flex }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
@media screen and (min-width: $bp-tablet) {
  .flex_t { display: flex; }
}
@media screen and (min-width: $bp-desktop) {
  .flex_d { display: flex; }
}


// #### Helper Classes
.hide {
  display: none !important;
}

.prevent-click {
  pointer-events: none;
}


// #### Card
.card {
  box-shadow: 0 0 11px 0 #eaf0f6;
  border-radius: 15px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 8px 30px rgba(24, 41, 139, 0.2);
}


// #### Delete Icon
.delete-icon {
  height: 30px;
  overflow: visible;

  * {
    pointer-events: none;
  }

  .delete-icon-top {
    transition: transform 0.7s;
  }

  &:hover {
    cursor: pointer;

    .delete-icon-top {
      transform: translateX(-40px) rotate(-20deg);
    }
  }
}


// #### Sign-in Modal
.sign-in-modal {
  text-align: center;
  padding: 20px;

  p {
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #f96363;
    border-radius: 5px;
    margin-top: 0;
    padding: 15px 10px;
    font-weight: 600;
  }
}

// #### Graph
.graph-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph-button {
  position: absolute;
  bottom: 25px;

  @media screen and (min-width: $bp-desktop) {
    bottom: 40px;
  }
}